<div class="t-hackcss-navigation">
  <h2 class="t-hackcss-navigation-heading"><a href="{{ site.baseurl }}/" style="background-color: #fff; color: #252a2e; border-bottom:0px solid">
  monointerferenz</a></h2>

  <nav class="menu" role="menubar">
    {% assign url = page.url|remove:'index.html' %}
    {% assign secondary_started = false %}
    {% for link in site.navigation %}
      {% if link.spacer %}
        <div style="text-align: center;">&#x23BD;</div>
      {% elsif link.label %}
        <div class="t-hackcss-navigation-label">{{ link.label }}</div>
      {% elsif link.categories %}
        {% assign sorted_categories = site.categories | sort %}
        {% assign excluded_categories = site.navigation_category_exclusions | default: empty %}
        {% for category in sorted_categories %}
          {% assign category_name = category[0] %}
          {% unless excluded_categories contains category_name %}
            {% assign category_slug = category_name | slugify %}
            {% assign category_title = site.navigation_category_titles[category_name] | default: category_name | capitalize %}
            {% assign category_url = "/categories#category-" | append: category_slug %}
            <a class="menu-item"
              role="menuitem" href="{{ category_url | prepend: site.baseurl }}" title="{{ category_title }}">
              {{ category_title }} <div class="pull-right">»</div>
            </a>
          {% endunless %}
        {% endfor %}
      {% else %}
        <a class="menu-item {% if link.secondary %}t-hackcss-navigation-secondary{% endif %} {% if url == link.url %}active{% endif %}"
          role="menuitem" href="{{ link.url | prepend: site.baseurl }}" title="{{ link.title }}"{% if link.target %} target="{{ link.target }}"{% endif %}{% if link.target == '_blank' %} rel="noopener noreferrer"{% endif %}>
          {{ link.text }} <div class="pull-right">»</div>
        </a>
  {% endif %}
{% endfor %}
  </nav>

</div>
