{% assign posts = site.posts %}
{% if include.category %}
  {% assign posts = site.categories[include.category] %}
{% endif %}
{% if include.featured %}
  {% assign posts = posts | where: "featured", true %}
{% endif %}
{% assign is_grid = true %}
{% if include.layout == "list" %}
  {% assign is_grid = false %}
{% endif %}

{% if posts.size > 0 %}
  {% if is_grid %}
    <div class="t-hackcss-featured-grid">
  {% endif %}

  {% for post in posts %}
    {% assign post_image = post.image_preview | default: post.image %}
    <div class="{% if is_grid %}t-hackcss-featured-card{% else %}media t-hackcss-media{% endif %}">
      {% if is_grid and post_image %}
        <a class="t-hackcss-featured-image-link"
   href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}"
   {% if post.external_url %}target="_blank"{% endif %}
   title="{{ post.title }}">

  {% assign image_class = "t-hackcss-featured-image" %}
  {% if site.grid_image_grayscale %}
    {% assign image_class = image_class | append: " is-grayscale" %}
  {% endif %}

  {% picture default post_image
    --alt post.title
    --img class=image_class
    loading="lazy" %}
</a>
      {% endif %}

      <div class="media-body">
        <div class="media-heading">
          <span>
            {% if post.external_url %}
              <a href="{{ post.external_url }}" target="_blank" title="{{ post.title }}">
                {{ post.title }}
              </a>
            {% else %}
              <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                {{ post.title }}
              </a>
            {% endif %}
          </span>
        </div>

        {% if post.short_description %}
          <div class="media-content">
            {{ post.short_description }}
          </div>
        {% endif %}

        {% if post.tags.size > 0 %}
          <div class="t-hackcss-post-tags">
            {% for tag in post.tags %}
              {% assign tag_slug = tag | slugify %}
              <a class="t-hackcss-post-tag"
                 href="{{ "/tags#tag-" | append: tag_slug | prepend: site.baseurl }}">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% if is_grid %}
    </div>
  {% endif %}
{% else %}
  <p>No posts found.</p>
{% endif %}
